<!DOCTYPE html>

    <head>
        <link rel="stylesheet" type="text/css" href="../main.css">
        <script src="../main.js"></script>
        
    </head>
    
    <body>
        
        <navigation-container>
            <img src="../../assets/photos/Logo.png">
            <navigation-link-container>
                <nav-link><a href="../index/index.html">Start</a></nav-link>
                <nav-link><a href="../pictures/pictures.html">Pictures</a></nav-link>
                <nav-link><a href="../videos/video.html">Video</a></nav-link>
                <nav-link><a href="../audio/audio.html" >Audio</a></nav-link>
                <nav-link><a href="../gif/gif.html">Gif</a></nav-link>
                <nav-link><a href="../stream/stream.html">Stream</a></nav-link>
            </navigation-link-container>
        </navigation-container>

        <div class="grid">
        <audio  class="grid-item" controls>
            <source src="../../assets/audio/Bluemillenium_-_Je_suis_un_Phoenix_1.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <audio class="grid-item"  controls>
            <source src="../../assets/audio/Loveshadow_-_Different_Planet_1.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <audio class="grid-item"  controls>
            <source src="../../assets/audio/mykleanthony_-_Knowledge_is_The_Power.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <audio class="grid-item"  controls>
            <source src="../../assets/audio/pieropeluche_-_Stayin_Home_-_Kara_Square_and_Piero_Peluche.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <audio class="grid-item"  controls>
            <source src="../../assets/audio/SiobhanD_-_Sitting_in_the_empty_house.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <audio class="grid-item"  controls>
            <source src="../../assets/audio/Slava_Ganelin_-_47_-_Improv2halasam.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </div>
    </body>

</html>