<!DOCTYPE html>

    <head>
        <link rel="stylesheet" type="text/css" href="../main.css">
        <script src="../main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="./videos.css">
    </head>
    
    <body>
        <navigation-container>
            <img src="../../assets/photos/Logo.png">
            <navigation-link-container>
                <nav-link><a href="../index/index.html">Start</a></nav-link>
                <nav-link><a href="../pictures/pictures.html">Pictures</a></nav-link>
                <nav-link><a href="../videos/video.html">Video</a></nav-link>
                <nav-link><a href="../audio/audio.html" >Audio</a></nav-link>
                <nav-link><a href="../gif/gif.html">Gif</a></nav-link>
                <nav-link><a href="../stream/stream.html">Stream</a></nav-link>
            </navigation-link-container>
        </navigation-container>
        <pictures-container>
            <div class="grid-item"> 
                <video controls autoplay="">
                    <source src="../../assets/videos/MVI_0194.MOV" type="video/mp4">

                    <p>Ihr Browser unterstützt kein HTML5 video.</p>
                    <a href="../../assets/videos/MVI_0194.MOV">Link zum Video (mp4)</a>
                </video>
                <div>Very fancy flowers</div>

             </div>

             <div class="grid-item"> 
                <video controls autoplay="">
                    <source src="../../assets/videos/some-video_with-sub.mp4" type="video/mp4">
                    <track src="../../assets/videos/some-video_english.vtt" kind="subtitles" srclang="en" label="English" default/>
                    <track src="../../assets/videos/some-video_german.vtt" kind="subtitles" srclang="de" label="German" />

                    <p>Ihr Browser unterstützt kein HTML5 video.</p>
                    <a href="../../assets/videos/some-video_with-sub.mp4">Link zum Video (mp4)</a>
                </video>
                <div>Cactüs</div>

             </div>
             <div class="grid-item"> 
                <video controls autoplay="">
                    <source src="../../assets/videos/Amy-Gotsound.mp4" type="video/mp4">

                    <p>Ihr Browser unterstützt kein HTML5 video.</p>
                    <a href="../../assets/videos/Amy-Gotsound.mp4">Link zum Video (mp4)</a>
                </video>
                <div>Who is Amy?</div>

             </div>
             <div class="grid-item"> 
                <video controls autoplay="">
                    <source src="../../assets/videos/Amy-GotSubtitles.mp4" type="video/mp4">

                    <p>Ihr Browser unterstützt kein HTML5 video.</p>
                    <a href="../../assets/videos/Amy-GotSubtitles.mp4">Link zum Video (mp4)</a>
                </video>
                <div>This is Amy.</div>

             </div>
        </pictures-container>
    </body>

</html>