<!DOCTYPE html>

    <head>
        <link rel="stylesheet" type="text/css" href="../main.css">
        <script src="../main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../videos.css">
        <script src="videos.js"></script>
    </head>
    
    <body>
        <iframe src="../navigation/navigation.html"></iframe>
        <div class="grid">
            <div class="grid-item"> 
                <video autoplay="">
                <source src="../../assets/videos/MVI_0194.MOV" type="video/mp4">
                <p>Ihr Browser unterstützt kein HTML5 video.</p>
                <a href="../../assets/videos/MVI_0194.MOV">Link zum Video (mp4)</a>
            </video>
                <div>Moving flowers</div>
             </div>
        </div>
    </body>

</html>