<!DOCTYPE html>

    <head>
        <link rel="stylesheet" type="text/css" href="../main.css">
        <script src="../main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../videos.css">
        <script src="videos.js"></script>
    </head>
    
    <body>
        <navigation-container>
            <img src="../../assets/photos/Logo.png">
            <navigation-link-container>
                <nav-link><a href="../index/index.html">Start</a></nav-link>
                <nav-link><a href="../pictures/pictures.html">Pictures</a></nav-link>
                <nav-link><a href="../videos/video.html">Video</a></nav-link>
                <nav-link><a href="../audio/audio.html" >Audio</a></nav-link>
                <nav-link><a href="../gif/gif.html">Gif</a></nav-link>
                <nav-link><a href="../stream/stream.html">Stream</a></nav-link>
            </navigation-link-container>
        </navigation-container>
        <div class="grid">
            <div class="grid-item"> 
                <video autoplay="">
                <source src="../../assets/videos/MVI_0194.MOV" type="video/mp4">
                <p>Ihr Browser unterstützt kein HTML5 video.</p>
                <a href="../../assets/videos/MVI_0194.MOV">Link zum Video (mp4)</a>
            </video>
                <div>Moving flowers</div>
             </div>
        </div>
    </body>

</html>