<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../main.css">
        <script src="../main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../navigation/navigation.css">
        <script src="../navigation/navigation.js"></script>

    </head>

    <body>
        <navigation-container>
            <img src="../../assets/photos/Logo.png">
            <navigation-link-container>
                <nav-link><a onclick="redirect('index')" >Index</a></nav-link>
                <nav-link><a onclick="redirect('pictures')">Pictures</a></nav-link>
                <nav-link><a onclick="redirect('video')">Video</a></nav-link>
                <nav-link><a onclick="redirect('gif')">Gif</a></nav-link>
                <nav-link><a onclick="redirect('audio')" >Audio</a></nav-link>
                <nav-link><a onclick="redirect('stream')">Stream</a></nav-link>
            </navigation-link-container>
        </navigation-container>

        
        
    </body>

</html>