<!DOCTYPE html>

    <head>
        <link rel="stylesheet" type="text/css" href="../main.css">
        <script src="../main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../pictures.css">
        <script src="pictures.js"></script>
    </head>
    
    <body>
        <iframe src="../navigation/navigation.html"></iframe>
        <div class="grid">
            <div class="grid-item">
           <img src="../../assets/photos/20190419_155445.jpg" > 
           <div>Beautifully overedited bridge No.1</div>
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/20190419_155446.jpg" > 
           <div>Beautifully overedited bridge No.2</div>
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/20190421_145155.jpg" > 
           <div>Telephone ready to help you in any situation</div>
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/20190425_124405.jpg" >
           <div>Just some needles in the water</div> 
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/20190427_154903.jpg" >
           <div>This spot is the home to seven sisters</div>
        </div>
        <div class="grid-item"> 
           <img src="../../assets/photos/20191118_201137.jpg" >
           <div>Christmas Amy</div> 
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/IMG_0082.jpg" > 
           <div>Flower</div>
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/IMG_0158.jpg" >
           <div>Doing the cruising with the drone</div>
        </div>
        <div class="grid-item"> 
           <img src="../../assets/photos/IMG_1220-1.jpg" >
           <div>Peace on top of a mountain No.1</div>
        </div>
        <div class="grid-item"> 
           <img src="../../assets/photos/IMG_1266-2.jpg" >
           <div>Peace on top of a mountain No.2</div>
        </div>
        <div class="grid-item"> 
           <img src="../../assets/photos/IMG_1320-1.jpg" >
           <div>Flowers</div> 
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/IMG_5014-1.jpg" >
           <div>Majestic mountains</div>
        </div>
        <div class="grid-item"> 
           <img src="../../assets/photos/IMG_5418-1.jpg" > 
           <div>Beautiful sunset</div>
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/IMG_5687-1.jpg" > 
           <div>Cool Socks</div>
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/IMG_5729-1-1.jpg" >
           <div>Modern place</div>
        </div>
        <div class="grid-item"> 
           <img src="../../assets/photos/IMG_9700-1.jpg" > 
           <div>I am a sheep</div>
        </div>
        <div class="grid-item">
           <img src="../../assets/photos/IMG_20190709_070616.jpg" >
           <div>High place</div>
        </div>
        <div class="grid-item"> 
           <img src="../../assets/photos/IMG_20190709_070841.jpg" >
           <div>Self portrait</div>
        </div>
    
        </div>
    </body>

</html>