* {
	display: block;
	padding: 0;
	margin: 0;

	font-family: Arial, Helvetica, sans-serif;
}

head, script, style, [hidden] {
	display: none;
}

iframe {
    border: none;
    width: 100%;
}

 .grid {
	display: flex;
	flex-wrap: wrap;
 }

 .grid-item {
	 text-align: center;
	 width:  25vw;
	 padding: 10px;
	 display: flex;
	 flex-direction: column;
 }

 img {
    width: 100%;
    height: auto;
}


/*  Navigation -------------------------------------------------------------- */

navigation-container img {
    height: 4em;
    width: auto;
}

navigation-link-container {
    display: flex;
}

navigation-container {
    display: flex;
    background-color: rgb(211, 217, 226);
}

nav-link {
    font-size: 1.5em;
    text-decoration: none !important;

    margin: 0 1em;
    line-height: 2.5em;
}

nav-link a {
    text-decoration: none;
    color: rgb(56, 56, 56);
}

nav-link a:hover {
    color: rgb(22, 22, 22);
    transform: scale(1.1);
    transition-duration: 100ms;
}

@media (max-width: 730px) {
	navigation-container  {
		display: block;
    }

    img {
        margin: auto;
    }
    navigation-link-container {
        margin: auto;
        flex-wrap: wrap;
    }
    nav-link {
        margin: auto;
        padding: 0 0.5em;
    }
}

@media (max-width: 350px) {
    nav-link {
        font-size: 1em;
        transition-duration: 100ms;
    }
}