<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../main.css">
        <script src="../main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../gif.css">
        <script src="gif.js"></script>
    </head>
    
    <body>
        <iframe src="../navigation/navigation.html"></iframe>
        <div class="grid">
            <div class="grid-item"> 
                <img src="../../assets/gifs/amy-sit.gif">
                <div>Amy! Sitz!</div>
             </div>
        </div>
    </body>

</html>